@import "../settings.scss";

.home {
  display: flex;

  .homeData {
    background: linear-gradient(0deg, $color-4, transparent 40%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      margin-top: 5rem;
      height: 100%;
      width: inherit;
      background: url('../../media/Dev.svg')no-repeat center 5rem;
      z-index: -1;
      filter: brightness(30%);
    }

    .Data {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 5rem;
        font-family: $font-4;
        color: $color-2;
        text-transform: uppercase;
        text-shadow: 3px 3px 2px $black;
      }
      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 7rem;
        color: $color-2;
        font-family: $font-4;
        text-shadow: 1px 2px 1px $color-1;
      }
      .pdf {
        a {
          font-size: 1.5rem;
          background: $color-1;
          padding: 1rem 2rem;
          border-radius: $border-radius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-5;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  .home {
    .homeData {
      &:after {
        background: url('../../media/Dev.svg') no-repeat 10% 20%/cover !important;
        border-radius: $border-radius;  
      }
        h1 {
          font-size: 1.8rem !important;
        }
        h2 {
          font-size: 1.4rem !important;
        }
        .pdf {
        // padding-bottom: 6rem;
      }
    }
  }
}
@media screen and (max-width: 350px){
  .home {
    .homeData {
      &:after {
        background: url('../../media/Dev.svg') no-repeat 10% 20%/cover !important;
        border-radius: $border-radius;  
      }
        h1 {
          font-size: 1.2rem !important;
        }
        h2 {
          font-size: 1.4rem !important;
        }
        .pdf {
          a {
            font-size: 1.2rem !important;
          }
      }
    }
  }
}