.portfolio {
    .portfolioContent {
      width: 100%;
      display: grid;
      min-height: $minHeight;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr;
      grid-template-areas: 
        "1"
        "2";
    }
    .projects {
      grid-area: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
      .project {
        background: $color-1;
        border-radius: $border-radius;
        margin: 0.5rem 0 0 0;
        text-align: center;
        width: 35%;
        max-height: 50%;
        padding: .3rem;
        box-shadow: $shadow;
        display: grid;
        grid-template-rows: 15% 10% 60% 15%;
        grid-template-areas: 
          "1" "2"
          "3" "4";
      }
      .icons {
        grid-area: 1;
        display: flex;
        justify-content: center;
        @include verticalCenter;
  
        i {
          font-size: 1.4rem;
          padding: 0 .35rem;
          color: $color-2;
          text-shadow: 0 0px 1px $color-1;
        }
      }
      h3 {
        grid-area: 2;
        font-family: $font-2;
        font-size: 1.65rem;
        @include verticalCenter;
        justify-content: left;
  
      }
      img {
        grid-area: 3;
        object-fit: cover;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 6px #333;
        border-radius: 4px;
        cursor: pointer;
        @include verticalCenter;
      }
      .infos {
        grid-area: 4;
        color: $color-4;
        cursor: pointer;
        font-size: 1.5rem;
        @include verticalCenter;
        transition: .2s;
  
        &:hover {
          transform: scale(1.3  );
        }
      }
      .showInfos {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.507);
        animation: popup .3s ease forwards ;
        transform-origin: center;
  
        .infosContent {
          position: relative;
          top: 25%;
          width: 600px;
          margin: 0 auto;
          color: $color-3;
          background: $color-2;
          border-radius: $border-radius;
          padding: 2rem;
          box-shadow: 0 10px 10px #333;
          animation: slidein 0.4s ease forwards;
          transform: scale(0);
          transform-origin: center;
  
          @keyframes slidein {
            to {
              transform: scale(1);
            } 
          }
        }
        .head {
          display: flex;
          justify-content: space-around;
          margin: 1rem 0;
        }
        h2 {
          text-align: left;
          margin-bottom: 1rem;
        }
        .githubButton {
          cursor: pointer;
          color: $color-2;
          background: $color-4;
          border-radius: $border-radius;
          padding: 1rem;
          transition: .2s;
  
          &:hover {
            background: $black;
          }
        }
        .text {
          text-align: justify;
          padding-bottom: 1rem;
        }
        .return {
          cursor: pointer;
          color: $color-2;
          background: $color-4;
          border-radius: $border-radius;
          padding: 1rem;
          margin: 1rem auto;
          transition: .2s;
          width: 200px;
        }
      }
    }
  }
  @media (max-width: 650px) and (min-width: 521px){
    .portfolioContent {
      .project {
        width: 49% !important;
  
        i {
          font-size: 1rem;
        }
      }
      .showInfos {
      .infosContent {
        width: 2  0% !important;
      }
    }
    }
  }
  @media (max-width: 450px){
    .portfolioContent {
      grid-template-rows: 1fr !important;
  
      .project {
        grid-template-rows: 30px 40px 80px 40px !important;
        width: 98% !important;
  
        img {
          height: 100% !important;
        }
      }
      .showInfos {
        .infosContent {
          width: 60% !important;
          height: 80% !important;
          .head {
            h2 {
              font-size: 1rem;
            }
            .codeSource {
              display: flex;
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }